body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: radial-gradient(#292929, #000000);
    overflow: hidden;
}

li:has(.special_red) {
    border-left: 3px solid #e61d5f !important
}

.special_red .slider-fg {
    background: #e61d5f !important
}

.special_red input {
    color: #e61d5f !important
}

.boolean .property-name {
    width: 90% !important
}

.boolean .c {
    float: right !important;
    width: 10% !important;
}

.full_width_slider input {
    visibility: hidden !important;
    width: 0% !important;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

.full_width_slider .slider {
    width: calc(100% + 5px) !important;
    /* float: right !important; */
    margin-left: -5px !important;
}